html,body{
    height: 100%;
    background-color: gray;
    background: linear-gradient(to bottom right, rgb(94, 92, 92) , rgb(73, 70, 70) ,#141212 );    
}
.btn{
    background-color: aquamarine;
}
#newListItem{
    width: 200px;
    height: 100px;
    
}
output{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

.item{ 
    
    color: black;
}
.delete {
    border: black;
    color: blue
}
button{
    background-color: rgb(66, 109, 167);
    color: rgb(189, 184, 184);
}