.btn{
    background-color: aquamarine;
}
#newListItem{
    width: 200px;
    height: 100px;
    
}
output{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

.item{ 
    
    border: 2px solid red ;
    color: black;
}