html,body{
    height: 100%;
    background-color: gray;
    background: linear-gradient(to bottom right, rgb(94, 92, 92) , rgb(73, 70, 70) ,#141212 );    
}
.AddButton{
    background-color: rgb(5, 148, 52);
    float: left;
}
button{
   border-radius: 50px;
   font-size: larger;
}
.gridDiv{
   display: grid; 
   grid-template-columns: repeat(3,1fr);
   grid-gap: 1em;
}
#newListItem{
    

    
    text-align: center;
    
}
output{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

.item{ 
    
    color: black;
}
.delete {
    border: black;
    color: rgb(29, 29, 185)
}
#listItem{
    background-color: rgb(17, 108, 226);
  
}

.column1 {width: 25%;
    background: green;
    float: left;

}
.column2 {
    width: 25%;
    background: red;
    float: left;

}
.column3 {
    width: 25%;
    background: blue;
    float: left;

    
}
.column4 {
    width: 25%;
    background: purple;
    float: left;

}
.column5 {
    width: 25%;
    background: orange;
    float: left;

}.column6 {
    width: 25%;
    background: yellow;
    float: left;

}.column7 {
    width: 25%;
    background: indigo;
    float: left;

}